In [56]:

import requests
import pandas as pd
import numpy as np
def get_crypto_price(symbol, start, end):
    api_url = f'https://data.messari.io/api/v1/markets/binance-{symbol}-usdt/metrics/price/time-series?start={start}&end={end}&interval=1d'
    raw = requests.get(api_url).json()
    df = pd.DataFrame(raw['data']['values'])
    df = df.rename(columns = {0:'date',1:'open',2:'high',3:'low',4:'close',5:'volume'})
    df['date'] = pd.to_datetime(df['date'], unit = 'ms')
    df = df.set_index('date')
    return df

one = get_crypto_price('avax', '2022-04-01', '2022-04-05')
two = get_crypto_price('ETH', '2022-04-01', '2022-04-05')
df = pd.DataFrame()
#print(np.array([one.index]))
#ratio['close']=one.close/two.close
df['close']=(one.close/two.close)
df['open']=(one.open/two.open)
#c=c[0]

df

               close      open
date
2022-04-01  0.028024  0.027894
2022-04-02  0.027872  0.028019
2022-04-03  0.027840  0.027846
2022-04-04  0.027322  0.027831
2022-04-05  0.026727  0.027322